/* Стили для заголовка в header */
header {
  background-color: #654f96;
  color: white;
  padding: 6px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Основной контейнер аккордеона */
.accordion {
  width: 100%;
  max-width: 700px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

/* Стили для каждой секции */
.accordion-item {
  margin: 0;
  border-bottom: 2px solid #f0f0f0;
}

/* Стили для обертки чекбокса и названия секции */
.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Стили для названия секции */
.section-name {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin: 15px;
  flex-grow: 1;
}

/* Стили для чекбокса */
.section-checkbox {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  cursor: pointer;
  accent-color: #0277bd;
  appearance: none;
  border: 2px solid #0277bd;
  border-radius: 4px;
  background-color: white;
  transition: all 0.3s ease;
  vertical-align: middle;
}

/* Эффект наведения на чекбокс */
.section-checkbox:hover {
  transform: scale(1.1);
  border-color: #015b8f;
}

/* Состояние "отмечен" для чекбокса */
.section-checkbox:checked {
  background-color: #015b8f;
  border-color: #015b8f;
}

.section-checkbox:checked::after {
  content: '✔';
  color: white;
  display: block;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
}

/* Стили для содержимого аккордеона */
.accordion-content {
  display: none;
  padding: 20px;
  background-color: #f8f8f8;
  color: #444;
  font-size: 18px;
  line-height: 1.6;
  border-top: 1px solid #ddd;
  animation: fadeIn 0.4s ease-out;
}

/* Показываем содержимое, когда оно открыто */
.accordion-content.show {
  display: block;
}

/* Стили для зачеркивания текста в названии секции */
.section-name.strikethrough {
  text-decoration: line-through;
  color: #595e60;
  cursor: not-allowed;
  opacity: 0.6;
}
